button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  color: brown;
  background: tan;
  width: 100px;
  height: 25px;
  font: 15px bold;
}

.container{
  width: 960px;
  margin: auto;
}

.menu {
  text-align: center;
  width: 90%;
  border: 20px;
}

h1 {
  
}
